{# empty Twig template #}

{% extends "::base.html.twig" %}
{% block body %}
{{parent()}}
<h1>Gestion Eleve</h1>
<form action="" method="post" >
    
    <table>
        
        <tr>
        
            <td>{{form_label (f.nom)}}</td>
            <td>
                {{form_errors (f.nom)}}
                {{form_widget (f.nom)}}
            </td>
        
        
        </tr>   
        
        <tr>
        
            <td>{{form_label (f.prenom)}}</td>
            <td>
                {{form_errors (f.prenom)}}
                {{form_widget (f.prenom)}}
            </td>
        
        
        </tr>   
        <tr>
        
            <td>{{form_label (f.genre)}}</td>
            <td>
                {{form_errors (f.genre)}}
                {{form_widget (f.genre)}}
            </td>
        
        
        </tr>   
        <tr>
        
            <td>{{form_label (f.tel_tuteur)}}</td>
            <td>
                {{form_errors (f.tel_tuteur)}}
                {{form_widget (f.tel_tuteur)}}
            </td>
        
        
        </tr>   
        
        <tr>
        
            <td>{{form_label (f.adresse_tuteur)}}</td>
            <td>
                {{form_errors (f.adresse_tuteur)}}
                {{form_widget (f.adresse_tuteur)}}
            </td>
        
        
        </tr>   
        
        <tr>
        
            <td>{{form_label (f.ville)}}</td>
            <td>
                {{form_errors (f.ville)}}
                {{form_widget (f.ville)}}
            </td>
        
        
        </tr>   
        <tr>
        
            <td>{{form_label (f.nom_tuteur)}}</td>
            <td>
                {{form_errors (f.nom_tuteur)}}
                {{form_widget (f.nom_tuteur)}}
            </td>
        
        
        </tr>   
        <tr>
        
            <td>{{form_label (f.email_tuteur)}}</td>
            <td>
                {{form_errors (f.email_tuteur)}}
                {{form_widget (f.email_tuteur)}}
            </td>
        
        
        </tr>  
        
        
         <tr>
        
            <td>{{form_label (f.profession_tuteur)}}</td>
            <td>
                {{form_errors (f.profession_tuteur)}}
                {{form_widget (f.profession_tuteur)}}
            </td>
        
        
        </tr>  
         
        
        
         
        
        

        
        
        
        
          
        
       <tr><td><input type="submit" /><td></tr>
{{ form_widget(f)}}
     
   </table>

    </form>
<h1> Liste Etudiant </h1>
 <table border="1">
     <tr>
         <th>Id Etudiant</th>
         
        
     </tr>
         {% for cl in res%}
<tr>
<td>{{cl.id}}</td>

<td><a href="{{ path('supp_etud', {'id':cl.id })   }}"class="btn btn-sm btn-danger "> Supprimer</a></td>
<td><a href="{{ path('edit_etud', {'id':cl.id })  }}"class="btn btn-sm btn-primary ">Modifie</a></td>

</tr>
{%else%}
<tr><td>Aucun client n'a trouvée</td></tr>
{% endfor %}
 </table>
{% endblock %}
